<h2>Listado de Estudiantes</h2>

<table border="1px">
  <thead >
    <tr>
      <th>Nombre</th>
      <th>Correo</th>
      <th>Fecha de Nacimiento</th>
      <th>Programa</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student|%>
    <tr>
      <td><%= student.nombre %></td>
      <td><%= student.correo%></td>
      <td><%= student.fecha_nacimiento %></td>
      <td><%= student.programa %></td>
      <td><a href="/students/show">Mostrar</a></td>
      <td><a href="/students/edit">Editar</a></td>
      <td><a href="/students/show">Eliminar</a></td>
    </tr>
    <% end %>
  </tbody>
</table>

<a href="/students/new">crear Estudiante</a>
