<h1> Añadir Estudiantes</h1>
<form  action="/students" method="post">
  <fieldset>
    <label for="student[nombre]">Nombre Estudiante:</label>
    <input type="text" name="student[nombre]">
  </fieldset>
  <fieldset>
    <label for="student[correo]">Email</label>
    <input type="text" name="student[correo]">
  </fieldset>
  <fieldset>
    <label for="student[fecha]">Fecha de Nacimiento</label>
    <input type="date" name="student[fecha]" >
  </fieldset>
  <fieldset>
    <label for="student[programa]">Programa</label>
    <input type="text" name="student[programa]" value="programa">
  </fieldset>
  <fieldset>
    <input type="submit"value= "Guardar">
  </fieldset>
</form>
